.admin-players {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .action-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        .add {
            display: flex;
            align-items: center;
        }
    }
 
}