.pagination-container {
    .paginator {
            .mdc-button {
                min-width: min-content;
                border-radius: unset !important;
            }
    }
}

.mat-accent {
    background-color: #F4A460 !important;
    color: white !important;
}

.mat-primary {
    background-color: #4CAF50 !important;
    color: white !important;
    // background-color: #98FB98 !important;
}