.admin-categories, .admin-players, .player-tournaments {
    .mat-mdc-tab-group {
        flex-basis: 87% !important;

        .mat-mdc-tab-body-wrapper {
            flex: 1 !important;

            .mat-mdc-tab-body-content {
                .data-grid {
                    min-height: 96%;
                }
            }
        }
    }
}

.mat-mdc-tab-group {
    background-color: transparent !important;
    flex: 1 !important;

    .mat-mdc-tab-body-content {
        overflow: hidden !important;
    }
}

th {
	font-weight: bolder !important;
}

.player-progress {
    .mat-mdc-tab-group {
        .mat-mdc-tab-body-wrapper {
            flex: 1 !important;

            .mat-mdc-tab-body-content {
                display: flex !important;
            }

            .app-graph {
                flex: 1;
                display: flex;

                .graph {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    align-items: center;

                    .chart-container {
                        flex: .8 !important;
                        height: 80%;
                    }
                }
            }
        }
    }
}