.admin-leaderboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-height: 100vh;
    overflow: hidden;

    .header {
        flex-basis: 20%;

        .filter-bar {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            align-items: center;
        }
    }

    .footer {
        flex-basis: 70%;
    }
}